@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link bg-dark text-light" asp-area="" asp-controller="Tickets" asp-action="1">@localizer["Selling"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-dark text-light" asp-area="" asp-controller="Tickets" asp-action="2">@localizer["Waiting Confirmation"]</a>
</li>
        <li class="nav-item">
            <a class="nav-link bg-dark text-light" asp-area="" asp-controller="Tickets" asp-action="3">@localizer["Sold"]</a>
</li>
    </ul>
</header>