@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles list</h2>

<ul class="nav nav-tabs bg-dark">
    <li class="nav-item">
        <a class="nav-link text-light" asp-action="Index">
            Back
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-action="CreateRole">
            Create new
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-action="UsersList">
            Users list
        </a>
    </li>
</ul>

<table class="table bg-dark text-light">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

