@model IEnumerable<TicketsResale.Business.Models.StoreUser>

<h2>Users list</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access rules</a>
            </td>
        </tr>
    }
</table>